extend componentes/plantilla.pug

block contenidos
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{titulos[0]}
				p 
					| Este e un parrafo de varias lineas
					| Este e un parrafo de varias lineas
					| Este e un parrafo de varias lineas
					| Este e un parrafo de varias lineas
					| Este e un parrafo de varias lineas
					span Este es un texto negrito!
				a.boton Leer Más
		main.contenido
			+caja ('imagen.png', titulos[1], "Este e un parrafo que se pasa al mixin" )
			+caja ('imagen.png', titulos[2], "Este e un parrafo que se pasa al mixin" )
			+caja ('imagen.png', titulos[3], "Este e un parrafo que se pasa al mixin" )
